body{background-color:white;
    padding:0px;
    margin:0px;
}
*{
    box-sizing:border-box;
}
.header{padding:20px;
    text-align: center;
    font-size:40px;
}
.click{width:90px;
    margin-left:0;
    position:relative;
    font-size: 30px;
    background-color:white;
    border:none;
}
.close{margin-left:175Px;
    border:none;
    background-color:white;
    font-size: 35px;
}
.close:hover{background-color: white;

}
.date,.lists{display:inline-flex;

}
#nav{background-color:red;
    height:50px;
    width:100%;
    top:0px;
    left:0px;
    overflow-x:hidden;
    z-index:1;
    position:fixed;
    transition: 0.7s;
}
.activename{
    background-color:blue;
}
a{text-decoration:none;
    padding:10px;
    display:inline-block;
    color:white;
    font-size:25px;
    transition:0.4s;
}
a:hover{background-color: black;

}
.all{display:none; 
}
.habilites{
    width:610px;
    height:auto;
    background-color:rgb(175, 170, 170);
    margin:auto;
    transition: 0.3s;
}
.habilites:hover{
    background-color:orange;
}
h1{text-align: center;
    color:black;
    background-color:gray;
}
.name{
    color:black;
    font-size:35px;
    text-align: left;
    margin-left:70px;
}
.dev{color:orange;
    font-size:35px;
}
.namedev{top:0px;
}
#experience ul li{padding-bottom:25px;
}
#formation ul li{padding-bottom:15px;
}
#competence ul li{padding-bottom:15px;
}
.habilites ul li{
    font-size: 22px;
    margin-left:15px;
}
.habilites ul li.bigsize{font-size:24px;
    font-weight: bolder;
}
.habilites li{list-style-type: square disc;
    color:black;
}
 .bigsize{list-style-type:square;
    color:black;
    font-weight: bold;
}
@media (max-width:576px)
{body{ background-color:rgb(175, 170, 170);
    padding:0px;
}
#nav{background-color:red;
    height:290px;
    width:100%;
    top:0px;
    left:0px;
    overflow-x:hidden;
    z-index:1;
    position: absolute;
    transition: 0.7s;
}
.activename{
    background-color:blue;
    text-align:center;
}
a{text-decoration:none;
    width:100%;
    padding:10px;
    display:inline-block;
    color:white;
    font-size:18px;
    transition:0.4s;
}
 .click{font-size: 25px;
    width:60px;
    margin-left:0px;
}
.click:hover{
    font-size: 30px;
}
.close{margin-left:160px;
    border:none;
    font-size: 40px;
}
.habilites{
    width:100%;
    height:100px;
    background-color:white;
    margin-left:0px;
}
.name{
    color:black;
    font-size:18px;
    text-align:left;
    margin-left:1px;
}
.namedev{color:white;
    font-size:35px; 
    margin-top:290px;
    height:80px;
    text-align:center;
    
}
h1{font-size:20px ;
}
h2{font-size: 20px;
}
strong{color:black;
}
#experience{height:100%;
    margin-top:290px;
}
#experience h1{font-size:25px;
}
#experience ul li{padding-bottom:12px;
}
#formation{height:auto;
    margin:290px;
    color: black;
}
#formation ul li{padding-bottom:12px;
    color:black;
}
#formation h1{font-size:25px;
}
#competence{height:100%;
    margin-top:290px;
}
#competence h1{font-size:25px;
}

#competence ul li{padding-bottom:12px;
}
#contactaddress {height:auto;
    margin-top:290px;
}
#contactaddress h1{font-size:25px;
}
#centredinteret{height:100px;
    margin-top:290px;
}
#centredinteret h1{font-size:25px;
}
.habilites ul li{
    line-height: 22px;
    font-size: 18px;  
}
.habilites ul li.bigsize{font-size:21px;
    font-weight: bolder;
}
.habilites ul li{list-style-type: square disc;
   
}
.habilites{
    background-color:rgb(175, 170, 170);
}
/* footer{background-color: gray;
} */

}

